[Unit]
Description=rclone mount of freezer-crypt
AssertPathIsDirectory=/mnt/rclone/freezer-crypt
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=rclone mount \
    --cache-dir /tmp/rclone/cache \
    --vfs-cache-mode full \
    --vfs-cache-max-size 20G \
    --attr-timeout 15m \
    --fast-list \
    --allow-other \
    freezer-crypt: /mnt/rclone/freezer-crypt
Restart=always
RestartSec=10
ExecStop=/bin/fusermount -u /mnt/rclone/freezer-crypt

[Install]
WantedBy=multi-user.target
